.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content {
    text-align: center;
    width: 300px;
}

.title {
    font-family: var(--font-primary);
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.progressContainer {
    width: 100%;
    height: 2px;
    background-color: #333;
    position: relative;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background-color: var(--color-neon-lime);
}