.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-bg-alt);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeContainer {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 0.8rem;
    gap: 0.5rem;
    transition: color 0.3s;
}

.closeBtn:hover {
    color: var(--color-neon-lime);
}

.nav {
    width: 100%;
}

.navList {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navItem {
    overflow: hidden;
}

.navLink {
    display: block;
    font-family: var(--font-primary);
    font-size: 6rem;
    /* Increased size */
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: color 0.3s;
    -webkit-text-stroke: 1px transparent;
    line-height: 1.1;
}

.navLink:hover {
    color: var(--color-neon-lime);
}

.socials {
    position: absolute;
    bottom: 2rem;
    display: flex;
    gap: 2rem;
}

@media (max-width: 768px) {
    .navLink {
        font-size: 3.5rem;
    }
}